[submodule "submodules/SPIRV-Cross"]
	path = submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "submodules/IDKEngine"]
	path = submodules/IDKEngine
	url = https://github.com/BoyBaykiller/IDKEngine.git
[submodule "submodules/SPIRV-Headers"]
	path = submodules/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "submodules/VK-GL-CTS"]
	path = submodules/VK-GL-CTS
	url = https://github.com/KhronosGroup/VK-GL-CTS.git
[submodule "submodules/OpenCL-CTS"]
	path = submodules/OpenCL-CTS
	url = https://github.com/KhronosGroup/OpenCL-CTS.git
[submodule "submodules/FidelityFX-FSR2-OpenGL"]
	path = submodules/FidelityFX-FSR2-OpenGL
	url = https://github.com/JuanDiegoMontoya/FidelityFX-FSR2-OpenGL.git
